<!DOCTYPE html>
<html lang="en" ng-ap="myApp">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Trang chủ</title>
        <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
        <link rel="stylesheet"
            href="./assets/fontawesome-free-6.5.2-web/css/all.min.css">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'
            rel='stylesheet'>
        <link rel="stylesheet" href="./assets/css/main.css">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    </head>

    <body ng-controller="MyController">
        <a href class="zalo-me"><img src="./assets/img/linhtinh/zalo.png"
                style="height: 50px;" alt></a>
        <a href="#" class="scrollToTopBtn"><i
                class="fa-solid fa-arrow-up"></i></a>
        <div class="container">
            <header
                class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3">
                <div class="col-md-3 mb-2 mb-md-0">
                    <a href="/"
                        class="d-inline-flex link-body-emphasis text-decoration-none">
                        <h2 class="fs-2">BAOAN STORE</h2>
                    </a>
                </div>

                <ul
                    class="nav col-12 col-md-auto mb-3 justify-content-center mb-md-0">
                    <form class="d-flex" role="search">
                        <input
                            class="form-control rounded-0 border border-secondary-subtle"
                            type="search"
                            style="font-size: 13px;"
                            placeholder="Nhập tìm kiếm của bạn ..."
                            aria-label="Search">
                        <button class="btn btn-dark rounded-0" type="submit"
                            style="font-size: 14px;">Tìm</button>
                    </form>
                </ul>

                <div
                    class="col-md-3 text-end my-0 d-flex justify-content-center group-cart-user">
                    <div class="cart position-relative">
                        <a href class="text-decoration-none text-dark px-2"><i
                                class="fa-solid fa-bag-shopping mx-2"></i>Giỏ
                            hàng</a>
                        <div class="quantity-cart position-absolute">
                            <span>0</span>
                        </div>
                    </div>
                    <a href class="text-decoration-none text-dark"><i
                            class="fa-solid fa-user mx-2"></i>Đăng nhập</a>
                    <!-- <div class="nav-item action-user mx-2">
                        <span style="cursor: pointer;">Hi: Phạm An</span>
                        <div class="subnav subnav-user">
                            <ul>
                                <li><i class='bx bx-chevron-right' style="transform: translateY(1px);"></i><a href="#">Đơn hàng</a></li>
                                <li><i class='bx bx-chevron-right' style="transform: translateY(1px);"></i><a href="#">Lịch sử mua hàng</a></li>
                                <li><i class='bx bx-chevron-right' style="transform: translateY(1px);"></i><a href="#">Cài đặt tài khoản</a></li>
                                <li><i class='bx bx-chevron-right' style="transform: translateY(1px);"></i><a href="#">Đăng xuất</a></li>
                            </ul>
                        </div>
                    </div> -->
                </div>
            </header>
        </div>
        <nav class="navbar navbar-expand-lg bg-dark" id="menu">
            <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><i
                        class="fa-solid fa-bars text-white"></i></span>
            </button>

            <div
                class="collapse navbar-collapse justify-content-center text-white"
                id="navbarNav">
                <ul class="navbar-nav mx-2">
                    <li class="nav-item mx-md-2"><a href="./index.html"
                            class="nav-link text-white">Trang chủ</a></li>
                    <li class="nav-item mx-md-2"><a href="./product.html"
                            class="nav-link text-white">Sản phẩm</a></li>
                    <li class="nav-item mx-md-2"><a href="./new-product.html"
                            class="nav-link text-white">Sản phẩm mới</a></li>
                    <li class="nav-item mx-md-2"><a href="./cart.html"
                            class="nav-link text-white">Giỏ hàng</a></li>
                    <li class="nav-item mx-md-2"><a href="./about.html"
                            class="nav-link text-white">Giới thiệu</a></li>
                    <li class="nav-item mx-md-2"><a href="./contact.html"
                            class="nav-link text-white">Liên hệ</a></li>
                </ul>
            </div>
        </nav>

        <div class="container my-4">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#"
                            class="text-decoration-none text-dark">Trang
                            chủ</a></li>
                    <li class="breadcrumb-item"><a href="#"
                            class="text-decoration-none text-dark">Chi tiết sản
                            phẩm</a></li>
                    <li class="breadcrumb-item"><a href="#"
                            class="text-decoration-none text-dark">Váy Phạm Ngọc
                            Bảo An</a></li>
                </ol>
            </nav>
        </div>

        <main>
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 d-none d-md-block">
                        <div class="row">
                            <div class="col-md-12">
                                <img src="./assets/img/product/product-1.jpg"
                                    style="width: 100%;" alt>
                            </div>
                            <div class="col-md-12">
                                <img
                                    src="./assets/img/thumnail/thumnail-product-1-1.jpg"
                                    style="width: 100%;" alt>
                            </div>
                            <div class="col-md-12">
                                <img
                                    src="./assets/img/thumnail/thumnail-product-1-2.jpg"
                                    style="width: 100%;" alt>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <!-- Hiện carousel ở màn hình md và lớn hơn -->
                        <div class="carousel slide"
                            id="carouselExampleAutoplaying"
                            data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img
                                        src="./assets/img/product/product-1.jpg"
                                        class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img
                                        src="./assets/img/thumnail/thumnail-product-1-1.jpg"
                                        class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img
                                        src="./assets/img/thumnail/thumnail-product-1-2.jpg"
                                        class="d-block w-100" alt="...">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button"
                                data-bs-target="#carouselExampleAutoplaying"
                                data-bs-slide="prev">
                                <i
                                    class='bx bxs-chevron-left text-dark fs-1'></i>
                            </button>
                            <button class="carousel-control-next" type="button"
                                data-bs-target="#carouselExampleAutoplaying"
                                data-bs-slide="next">
                                <i
                                    class='bx bxs-chevron-right text-dark fs-1'></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="product-detail">
                            <div class="product-detail-name mb-4">
                                <h5 class="fs-4 fw-bold">ĐẦM CHẤM BI D00322</h5>
                            </div>
                            <div class="product-detail-brand">
                                <span class="text-secondary">Thương hiệu: BAOAN
                                    STORE</span>
                            </div>
                            <div class="product-detail-sku">
                                <span class="text-secondary">Mã SP:
                                    003221412462400457</span>
                            </div>
                            <div class="product-detail-price mt-4">
                                <p class="fs-4 fw-bold">1.399.000 VND</p>
                            </div>

                            <div class="product-detail-size mb-4"
                                ng-controller="SizeController">
                                <p class="fw-bold mb-2"
                                    style="margin-bottom: 0px;">Kích thước</p>
                                <button
                                    class="size-btn btn btn-outline border border-secondary-subtle rounded-0"
                                    style="font-size: 13px;"
                                    ng-click="selectSize(38)">size 38</button>
                                <button
                                    class="size-btn btn btn-outline border border-secondary-subtle rounded-0"
                                    style="font-size: 13px;"
                                    ng-click="selectSize(39)">size 39</button>
                                <button
                                    class="size-btn btn btn-outline border border-secondary-subtle rounded-0"
                                    style="font-size: 13px;"
                                    ng-click="selectSize(40)">size 40</button>
                                <button
                                    class="size-btn btn btn-outline border border-secondary-subtle rounded-0"
                                    style="font-size: 13px;"
                                    ng-click="selectSize(41)">size 41</button>
                            </div>

                            <div class="product-detail-instruct">
                                <a href data-bs-toggle="modal"
                                    data-bs-target="#exampleModal"> Hướng dẫn
                                    chọn size tại đây</a>
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal"
                                tabindex="-1"
                                aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog modal-xl">
                                    <div class="modal-content"
                                        style="z-index: 99999;">
                                        <div class="modal-header text-center">
                                            <h1 class="modal-title fs-5"
                                                id="exampleModalLabel">HƯỚNG DẪN
                                                CHỌN SIZE</h1>
                                            <button type="button"
                                                class="btn-close"
                                                data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col">
                                                        <table
                                                            class="table table-bordered text-center">
                                                            <thead>
                                                                <tr>
                                                                    <th>SIZE</th>
                                                                    <th>VAI
                                                                        (cm)</th>
                                                                    <th>NGỰC
                                                                        (cm)</th>
                                                                    <th>EO
                                                                        (cm)</th>
                                                                    <th>MÔNG
                                                                        (cm)</th>
                                                                    <th>CÂN NẶNG
                                                                        (kg)</th>
                                                                    <th>CHIỀU
                                                                        CAO
                                                                        (cm)</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td>S -
                                                                        02</td>
                                                                    <td>35</td>
                                                                    <td>82</td>
                                                                    <td>66</td>
                                                                    <td>86</td>
                                                                    <td>45 -
                                                                        50</td>
                                                                    <td>150 -
                                                                        160</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>M -
                                                                        04</td>
                                                                    <td>36</td>
                                                                    <td>86</td>
                                                                    <td>70</td>
                                                                    <td>90</td>
                                                                    <td>51 -
                                                                        55</td>
                                                                    <td>155 -
                                                                        160</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>L -
                                                                        06</td>
                                                                    <td>37</td>
                                                                    <td>90</td>
                                                                    <td>75</td>
                                                                    <td>94</td>
                                                                    <td>56 -
                                                                        60</td>
                                                                    <td>155 -
                                                                        160</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>XL -
                                                                        08</td>
                                                                    <td>38</td>
                                                                    <td>94</td>
                                                                    <td>80</td>
                                                                    <td>98</td>
                                                                    <td>61 -
                                                                        64</td>
                                                                    <td>160 -
                                                                        165</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>2XL -
                                                                        10</td>
                                                                    <td>39</td>
                                                                    <td>98</td>
                                                                    <td>84</td>
                                                                    <td>102</td>
                                                                    <td>65 -
                                                                        68</td>
                                                                    <td>160 -
                                                                        165</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>3XL -
                                                                        12</td>
                                                                    <td>40</td>
                                                                    <td>102</td>
                                                                    <td>88</td>
                                                                    <td>106</td>
                                                                    <td>69 -
                                                                        70</td>
                                                                    <td>160 -
                                                                        165</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button"
                                                class="btn btn-secondary"
                                                data-bs-dismiss="modal">Đóng</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- ------------- end modal -------------------------------- -->
                            <div
                                class="product-detail-update-quantity d-flex my-4">
                                <p class="fw-bold px-2"
                                    style="margin-bottom: 0; transform: translateY(7px);">Số
                                    lượng</p>
                                <button
                                    class="quantity-btn btn btn-dark rounded-0"
                                    type="button" onclick="decreaseQuantity()">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <input type="text" id="quantityInput"
                                    class="form-control border-secondary-subtle w-25 rounded-0"
                                    value="1">
                                <button
                                    class="quantity-btn btn btn-dark rounded-0"
                                    type="button" onclick="increaseQuantity()">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>

                            <form action="" method="POST" id="addToCartBtn">
                                <div class="product-detail-add-to-cart">
                                    <button type="submit"
                                        class="btn btn-outline border-dark rounded-0 w-100 my-2">Thêm
                                        vào giỏ hàng</button>
                                </div>
                            </form>

                            <div class="product-detail-buy-now">
                                <button
                                    class="btn btn-dark border-dark rounded-0 w-100 my-2">Mua
                                    Ngay</button>
                            </div>

                            <div class="product-detail-description my-3">
                                <b>Chất liệu:</b> vải tổng hợp cao cấp
                                <br>
                                <b>Kiểu dáng:</b> đầm thiết kế dáng chữ A dài
                                qua gối, tone màu xanh than kết hợp họa tiết
                                chấm bi trắng
                                <br>
                                <b>Sản phẩm thuộc dòng sản phẩm:</b> BAOAN STORE
                                <br>
                                <b>Thông tin người mẫu:</b>mặc sản phẩm size 2
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container mt-5">
                <div class="article">
                    <div class="section">
                        <h2 class="fs-5 fw-bold mb-3"
                            style="margin-bottom: 0;">SẢN PHẨM KHÁC</h2>
                        <div class="list-product">
                            <div class="row">
                                <div class="col-lg-3 col-md-4">
                                    <div class="product">
                                        <div class="product-img">
                                            <img
                                                src="./assets/img/product/product-1.jpg"
                                                class="w-100" alt>
                                            <div class="over-lay">
                                                <button>Xem thêm</button>
                                            </div>
                                        </div>
                                        <div
                                            class="product-name text-center py-2 fw-bold"
                                            style="font-size: 15px; color: gray;">
                                            <a href>Đầm chấm bi 3002D23</a>
                                        </div>
                                        <div
                                            class="product-price text-center py-2 fw-bold">
                                            <p
                                                style="margin-bottom: 0;">1.000.389đ</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4">
                                    <div class="product">
                                        <div class="product-img">
                                            <img
                                                src="./assets/img/product/product-2.jpg"
                                                class="w-100" alt>
                                            <div class="over-lay">
                                                <button>Xem thêm</button>
                                            </div>
                                        </div>
                                        <div
                                            class="product-name text-center py-2 fw-bold"
                                            style="font-size: 15px; color: gray;">
                                            <a href>Đầm chấm bi 3002D23</a>
                                        </div>
                                        <div
                                            class="product-price text-center py-2 fw-bold">
                                            <p
                                                style="margin-bottom: 0;">1.000.389đ</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4">
                                    <div class="product">
                                        <div class="product-img">
                                            <img
                                                src="./assets/img/product/product-3.jpg"
                                                class="w-100" alt>
                                            <div class="over-lay">
                                                <button>Xem thêm</button>
                                            </div>
                                        </div>
                                        <div
                                            class="product-name text-center py-2 fw-bold"
                                            style="font-size: 15px; color: gray;">
                                            <a href>Đầm chấm bi 3002D23</a>
                                        </div>
                                        <div
                                            class="product-price text-center py-2 fw-bold">
                                            <p
                                                style="margin-bottom: 0;">1.000.389đ</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4">
                                    <div class="product">
                                        <div class="product-img">
                                            <img
                                                src="./assets/img/product/product-4.jpg"
                                                class="w-100" alt>
                                            <div class="over-lay">
                                                <button>Xem thêm</button>
                                            </div>
                                        </div>
                                        <div
                                            class="product-name text-center py-2 fw-bold"
                                            style="font-size: 15px; color: gray;">
                                            <a href>Đầm chấm bi 3002D23</a>
                                        </div>
                                        <div
                                            class="product-price text-center py-2 fw-bold">
                                            <p
                                                style="margin-bottom: 0;">1.000.389đ</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div
                            class="view-all-product d-flex justify-content-center mt-4">
                            <a href="./product.html"
                                class="text-decoration-none"><button
                                    class="btn btn-dark rounded-0">Xem
                                    thêm</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- Button trigger modal -->

        <!--  ------------------------------- footer ----------------------------------------------------------- -->
        <div class="footer mt-5">
            <div class="thank-you-footer bg-dark py-5 text-center text-white">
                <div class="container">
                    <div class="icon-thank-you-footer">
                        <i class='bx bxs-quote-alt-left float-start fs-2'></i>
                    </div>
                    <h1>BAO AN STORE</h1>
                    <p>Chúng tôi tự hào giới thiệu đến bạn một thế giới của
                        phong
                        cách và sự tự tin thông qua bộ sưu tập đa dạng và độc
                        đáo
                        của chúng tôi. Bạn có thể tìm thấy mọi thứ từ những bộ
                        trang
                        phục thời thượng cho các buổi tiệc đêm sôi động đến
                        những bộ
                        đồ thoải mái và phong cách cho những buổi dạo phố thoải
                        mái.

                        Tại BAOAN STORE, chúng tôi cam kết mang lại cho bạn
                        những
                        sản phẩm chất lượng nhất, từ các nhãn hiệu uy tín đến
                        những
                        lựa chọn thiết kế độc quyền. Chúng tôi hiểu rằng phong
                        cách
                        là cách thể hiện bản thân, và vì vậy, mỗi mẫu trang phục
                        tại
                        cửa hàng của chúng tôi đều được lựa chọn cẩn thận để
                        phản
                        ánh sự đa dạng và cá nhân hóa của từng khách hàng.
                    </p>
                    <div class="icon-thank-you-footer">
                        <i class='bx bxs-quote-alt-right float-end fs-2'></i>
                    </div>
                </div>
            </div>
            <div class="container pt-4">
                <div class="row">
                    <div class="col-md-2">
                        <p class="fw-bold">VỀ BAOAN STORE</p>
                        <ul>
                            <li><a href>Chúng tôi là ai</a></li>
                            <li><a href>Cam kết của chúng tôi</a></li>
                            <li><a href>Tin tuyển dụng</a></li>
                            <li><a href>Hệ thống cửa hàng</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2">
                        <p class="fw-bold">HỖ TRỢ KHÁCH HÀNG</p>
                        <ul>
                            <li><a href>Hướng dẫn đặt hàng</a></li>
                            <li><a href>Phương thức thanh toán</a></li>
                            <li><a href>Chính sách thành viên</a></li>
                            <li><a href>Chính sách tích - tiêu điểm</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2">
                        <p class="fw-bold">CHÍNH SÁCH</p>
                        <ul>
                            <li><a href>Chính sách vận chuyển</a></li>
                            <li><a href>Chính sách đổi trả</a></li>
                            <li><a href>Điều kiện & Điều khoản</a></li>
                            <li><a href>Chính sách bảo mật</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2">
                        <p class="fw-bold">LIÊN HỆ</p>
                        <div class="col-md-12">
                            <ul>
                                <li class="fw-bold">Hỗ trợ tư vấn mua
                                    online:</li>
                                <li><a href>Chúng tôi là ai</a></li>
                                <li><a href>Cam kết của chúng tôi</a></li>
                                <li><a href>Tin tuyển dụng</a></li>
                                <li><a href>Hệ thống cửa hàng</a></li>
                            </ul>
                        </div>
                        <div class="col-md-12">
                            <ul>
                                <li class="fw-bold">Hỗ trợ khiếu nại và bảo hành
                                    sản phẩm:</li>
                                <li><a href>Hotline: 0927553664</a></li>
                                <li><a href>Email: cskh@tokyolife.vn</a></li>
                                <li><a href>Giờ làm việc: 8:30 - 22:00 hằng
                                        ngày.</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <p class="fw-bold">ĐĂNG KÝ NHẬN TIN TỪ BAOANSTORE</ơ>
                            <form action>
                                <div class="form-group d-flex">
                                    <input type="text"
                                        class="form-control border-2 border-dark rounded-0 w-50"
                                        placeholder="Nhập email của bạn ..."
                                        style="font-size: 13px;">
                                    <button class="btn btn-dark rounded-0">Đăng
                                        kí</button>
                                </div>
                            </form>
                            <p class="pt-4">Cài App nhận <b>Ưu đãi 50% Sinh
                                    Nhật</b>
                                Tích Điểm Mọi Hóa Đơn</p>
                            <div class="row">
                                <div class="col-md-3">
                                    <img src="./assets/img/linhtinh/qrcode.jpg"
                                        style="width: 110px; transform: translateY(-5px);"
                                        alt>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <img
                                                src="./assets/img/linhtinh/app_store.jpg"
                                                style="width: 150px;" alt>
                                        </div>
                                        <div class="col-md-12">
                                            <img
                                                src="./assets/img/linhtinh/google_play.jpg"
                                                style="width: 130px; transform: translateX(10px);"
                                                alt>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <p class="fw-bold">Chúng tôi kết nối thanh toán
                                    qua</p>
                                <div class="pay">
                                    <img src="./assets/img/linhtinh/momo.jpg"
                                        style="width: 50px; margin: 0px 10px;"
                                        alt>
                                    <img src="./assets/img/linhtinh/vnpay.jpg"
                                        style="width: 120px; margin: 0px 10px;"
                                        alt>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="connect-with-us my-2 py-3">
                        <p class="fw-bold">Kết nối với chúng tôi.</p>
                        <a href class="text-decoration-none"><i
                                class='bx bxl-facebook-circle text-primary fs-3'></i></a>
                        <a href class="text-decoration-none"><i
                                class='bx bxl-instagram-alt text-danger fs-3'></i></a>
                        <a href class="text-decoration-none"><i
                                class='bx bxl-twitter text-info fs-3'></i></a>
                        <a href class="text-decoration-none"><i
                                class='bx bxl-youtube text-danger fs-3'></i></a>
                    </div>
                    <hr>
                    <div
                        class="address-footer d-flex justify-content-between py-2">
                        <ul>
                            <li>DEV: Phạm Ngọc Bảo An</li>
                            <li>Address: Cam Thành Nam - Cam Ranh - Khánh
                                Hòa.</li>
                            <li>My major: Web developer.</li>
                            <li>Thanks for visiting my website.</li>
                        </ul>
                        <div class="img-address-footer rounded-circle"
                            style="overflow: hidden; width: 120px; height: 120px;">
                            <img src="./assets/img/me/anhkiyeu.jpg"
                                style="transform: translateY(-50px);"
                                class="w-100" alt>
                        </div>
                    </div>
                </div>
                <div class="the-end text-center text-white bg-dark py-2">
                    <span class="fs-4">BAOAN STORE</span>
                    <span>Copyright © 2024 create by Phạm Ngọc Bảo An
                        7-9-2004.</span>
                </div>
            </div>
            <!-- -------------------------------- ebd footer --------------------------------------------------------- -->

            <!-- <div class="ng-view">

        </div> -->

        <script src="./assets/js/bootstrap.bundle.min.js"></script>
        <script src="./assets/js/app.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        
        <script>
            $(document).ready(function() {
                $('#addToCartBtn').submit(function(event) {
                    event.preventDefault();
                    Swal.fire({
                        icon: 'success',
                        title: 'Thêm vào giỏ hàng',
                        text: 'Bạn có chắc chắn muốn thêm vào giỏ hàng ?',
                        showCancelButton: true,
                        confirmButtonText: 'Xác nhận',
                        cancelButtonText: 'Hủy bỏ'
                    }).then((result) => {
                        // if (result.isConfirmed) {
                        //     window.location.href = './detail.html';
                        // }
                    });
                });
            });
        </script>
        

        </body>
    </html>