<main>
    <!-- ------------------------------------- banner product page -------------------------------------------------- -->
    <div class="banner-product-page">
        <img src="./assets/img/banner-product-page.jpg" class="w-100"
            alt>
    </div>
    <!-- -------------------------------------- end banner product page ---------------------------------------------- -->

    <!-- ------------------------- nội dung danh mục ------------------------------------------------------- -->
    <div class="article my-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-4 col-sm-12">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-6">
                            <h2 class="fs-5 fw-bold"
                                style="margin-bottom: 0;">DANH MỤC</h2>
                            <ul class="list-unstyled mt-3">
                                <li class="my-2"><i
                                        class='bx bx-chevron-right'
                                        style="transform: translateY(1px);"></i><a
                                        href="#"
                                        class="text-decoration-none text-dark">Quần
                                        áo váy</a></li>
                                <li class="my-2"><i
                                        class='bx bx-chevron-right'
                                        style="transform: translateY(1px);"></i><a
                                        href="#"
                                        class="text-decoration-none text-dark">Đầm</a></li>
                                <li class="my-2"><i
                                        class='bx bx-chevron-right'
                                        style="transform: translateY(1px);"></i><a
                                        href="#"
                                        class="text-decoration-none text-dark">Set
                                        đồ công sở</a></li>
                            </ul>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-6">
                            <h2 class="fs-5 fw-bold mt-lg-4 mt-0"
                                style="margin-bottom: 0;">LỌC GIÁ</h2>
                            <ul class="list-unstyled mt-3">
                                <li class="my-2"><i
                                        class='bx bx-chevron-right'
                                        style="transform: translateY(1px);"></i><a
                                        href="#"
                                        class="text-decoration-none text-dark">Dưới
                                        500.000 VNĐ</a></li>
                                <li class="my-2"><i
                                        class='bx bx-chevron-right'
                                        style="transform: translateY(1px);"></i><a
                                        href="#"
                                        class="text-decoration-none text-dark">Từ
                                        500.000 - 1.000.000 VNĐ</a></li>
                                <li class="my-2"><i
                                        class='bx bx-chevron-right'
                                        style="transform: translateY(1px);"></i><a
                                        href="#"
                                        class="text-decoration-none text-dark">Trên
                                        1.000.000 VNĐ</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-10 col-md-8 col-sm-12">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <h2 class="fs-5 fw-bold"
                            style="margin-bottom: 0;">TẤT CẢ SẢN
                            PHẨM
                            </h2>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <div class="row">
                                <div class="col-lg-6 col-md-12 col-sm-12 mt-3">
                                    <form class="d-flex" role="search">
                                        <input class="form-control border border-secondary-subtle rounded-0" type="search" placeholder="Search" aria-label="Search">
                                    </form>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12 d-flex">
                                    <select class="form-select border border-secondary-subtle rounded-0 mt-3">
                                        <option selected disabled>Lọc
                                            giá</option>
                                        <option value="1">Giá tăng dần</option>
                                        <option value="2">Giá giảm dần</option>
                                    </select>
                                    <select style="margin-left: 10px;" class="form-select border border-secondary-subtle rounded-0 mt-3">
                                        <option selected disabled>Sắp
                                            xếp</option>
                                        <option value="1">Mới nhất</option>
                                        <option value="2">Sale</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section mt-5">
                        <div class="list-product">
                            <div class="row">
                                <div
                                    class="col-lg-4 col-md-6 col-sm-12">
                                    <div class="product">
                                        <div class="product-img">
                                            <img
                                                src="./assets/img/product/product-10.jpg"
                                                class="w-100" alt>
                                            <div class="over-lay">
                                                <button>Xem
                                                    thêm</button>
                                            </div>
                                            <div class="sale-title">
                                                <span>-30%</span>
                                            </div>
                                        </div>
                                        <div
                                            class="product-name text-center py-2 fw-bold"
                                            style="font-size: 15px; color: gray;">
                                            <a href>Đầm chấm bi
                                                3002D23</a>
                                        </div>
                                        <div
                                            class="product-price text-center py-2 fw-bold">
                                            <p
                                                style="margin-bottom: 0;">1.000.389đ</p>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="col-lg-4 col-md-6 col-sm-12">
                                    <div class="product">
                                        <div class="product-img">
                                            <img
                                                src="./assets/img/product/product-11.jpg"
                                                class="w-100" alt>
                                            <div class="over-lay">
                                                <button>Xem
                                                    thêm</button>
                                            </div>
                                            <div class="sale-title">
                                                <span>-30%</span>
                                            </div>
                                        </div>
                                        <div
                                            class="product-name text-center py-2 fw-bold"
                                            style="font-size: 15px; color: gray;">
                                            <a href>Đầm chấm bi
                                                3002D23</a>
                                        </div>
                                        <div
                                            class="product-price text-center py-2 fw-bold">
                                            <p
                                                style="margin-bottom: 0;">1.000.389đ</p>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="col-lg-4 col-md-6 col-sm-12">
                                    <div class="product">
                                        <div class="product-img">
                                            <img
                                                src="./assets/img/product/product-12.jpg"
                                                class="w-100" alt>
                                            <div class="over-lay">
                                                <button>Xem
                                                    thêm</button>
                                            </div>
                                        </div>
                                        <div
                                            class="product-name text-center py-2 fw-bold"
                                            style="font-size: 15px; color: gray;">
                                            <a href>Đầm chấm bi
                                                3002D23</a>
                                        </div>
                                        <div
                                            class="product-price text-center py-2 fw-bold">
                                            <p
                                                style="margin-bottom: 0;">1.000.389đ</p>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="col-lg-4 col-md-6 col-sm-12">
                                    <div class="product">
                                        <div class="product-img">
                                            <img
                                                src="./assets/img/product/product-19.jpg"
                                                class="w-100" alt>
                                            <div class="over-lay">
                                                <button>Xem
                                                    thêm</button>
                                            </div>
                                            <div class="sale-title">
                                                <span>-30%</span>
                                            </div>
                                        </div>
                                        <div
                                            class="product-name text-center py-2 fw-bold"
                                            style="font-size: 15px; color: gray;">
                                            <a href>Đầm chấm bi
                                                3002D23</a>
                                        </div>
                                        <div
                                            class="product-price text-center py-2 fw-bold">
                                            <p
                                                style="margin-bottom: 0;">1.000.389đ</p>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="col-lg-4 col-md-6 col-sm-12">
                                    <div class="product">
                                        <div class="product-img">
                                            <img
                                                src="./assets/img/product/product-18.jpg"
                                                class="w-100" alt>
                                            <div class="over-lay">
                                                <button>Xem
                                                    thêm</button>
                                            </div>
                                        </div>
                                        <div
                                            class="product-name text-center py-2 fw-bold"
                                            style="font-size: 15px; color: gray;">
                                            <a href>Đầm chấm bi
                                                3002D23</a>
                                        </div>
                                        <div
                                            class="product-price text-center py-2 fw-bold">
                                            <p
                                                style="margin-bottom: 0;">1.000.389đ</p>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="col-lg-4 col-md-6 col-sm-12">
                                    <div class="product">
                                        <div class="product-img">
                                            <img
                                                src="./assets/img/product/product-17.jpg"
                                                class="w-100" alt>
                                            <div class="over-lay">
                                                <button>Xem
                                                    thêm</button>
                                            </div>
                                        </div>
                                        <div
                                            class="product-name text-center py-2 fw-bold"
                                            style="font-size: 15px; color: gray;">
                                            <a href>Đầm chấm bi
                                                3002D23</a>
                                        </div>
                                        <div
                                            class="product-price text-center py-2 fw-bold">
                                            <p
                                                style="margin-bottom: 0;">1.000.389đ</p>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="col-lg-4 col-md-6 col-sm-12">
                                    <div class="product">
                                        <div class="product-img">
                                            <img
                                                src="./assets/img/product/product-16.jpg"
                                                class="w-100" alt>
                                            <div class="over-lay">
                                                <button>Xem
                                                    thêm</button>
                                            </div>
                                        </div>
                                        <div
                                            class="product-name text-center py-2 fw-bold"
                                            style="font-size: 15px; color: gray;">
                                            <a href>Đầm chấm bi
                                                3002D23</a>
                                        </div>
                                        <div
                                            class="product-price text-center py-2 fw-bold">
                                            <p
                                                style="margin-bottom: 0;">1.000.389đ</p>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="col-lg-4 col-md-6 col-sm-12">
                                    <div class="product">
                                        <div class="product-img">
                                            <img
                                                src="./assets/img/product/product-15.jpg"
                                                class="w-100" alt>
                                            <div class="over-lay">
                                                <button>Xem
                                                    thêm</button>
                                            </div>
                                        </div>
                                        <div
                                            class="product-name text-center py-2 fw-bold"
                                            style="font-size: 15px; color: gray;">
                                            <a href>Đầm chấm bi
                                                3002D23</a>
                                        </div>
                                        <div
                                            class="product-price text-center py-2 fw-bold">
                                            <p
                                                style="margin-bottom: 0;">1.000.389đ</p>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="col-lg-4 col-md-6 col-sm-12">
                                    <div class="product">
                                        <div class="product-img">
                                            <img
                                                src="./assets/img/product/product-14.jpg"
                                                class="w-100" alt>
                                            <div class="over-lay">
                                                <button>Xem
                                                    thêm</button>
                                            </div>
                                        </div>
                                        <div
                                            class="product-name text-center py-2 fw-bold"
                                            style="font-size: 15px; color: gray;">
                                            <a href>Đầm chấm bi
                                                3002D23</a>
                                        </div>
                                        <div
                                            class="product-price text-center py-2 fw-bold">
                                            <p
                                                style="margin-bottom: 0;">1.000.389đ</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- ------------------------ phân trang ----------------------------------------- -->
                <div
                    class="paginate text-center mt-5 d-flex justify-content-center">
                    <nav aria-label="...">
                        <ul class="pagination">
                            <li class="page-item disabled">
                                <span class="page-link"><i
                                        class='bx bx-chevrons-left'></i></span>
                            </li>
                            <li class="page-item"><a class="page-link"
                                    href="#">1</a></li>
                            <li class="page-item active"
                                aria-current="page">
                                <span class="page-link">2</span>
                            </li>
                            <li class="page-item"><a class="page-link"
                                    href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#"><i
                                        class='bx bx-chevrons-right'></i></a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <!-- --------------------------- kết thúc phân trang -------------------------------  -->
            </div>
        </div>
    </div>
    <!-- -------------------------- end nội dung danh mục -------------------------------------------------- -->
</main>